#knowledge {
	padding:36px 0px;
	font-size: 14px;
	line-height: 24px;
}

#knowledge h1 {
	color: #D13236;
	font: normal normal normal 40px/60px Cambria, Georgia, 'Times New Roman', Times, serif;
	margin:54px 0;
	width:50%
}

#leftpane{
	float: left;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	width: 190px;
}

#rightpane{
	float: left;
	padding: 0px 0px 0px 20px;
	border-left:1px solid #eee;
	width: 724px;
}

#rightpane aside p.impact, #rightpane aside ul li{
	font: 18px/26px "chaparral-pro-1", "chaparral-pro-2", Georgia, "Times New Roman", Times, serif;
	color: #333;
}

#rightpane aside{
	margin-bottom:50px;
	border-bottom:1px solid #eee;
	padding-bottom:18px;
}

#rightpane aside.know {
	background: #fff8c1;
	border:1px solid #eee27a;
	margin:5px 0 5px 10px;
	padding:10px;
	float:right;
	width:200px;
	color:#666;
}

#rightpane footer{
	border-top: 1px dashed #999;
	padding:10px 0px;
	font-size:12px;
	line-height:18px;
}

#knowledge p{
	font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	color:#333;
	margin-bottom:24px;
	text-align:justify;
}

#knowledge ul{
	list-style: disc;
	margin-left: 20px;
}

#knowledge h3{
	color: #D13236;
	font: normal normal normal 18px/26px Cambria, Georgia, 'Times New Roman', Times, serif;
}

span.dropcap {
	float: left;
	font-family: Cambria, Georgia, 'Times New Roman', Times, serif;
	font-size: 3.5em;
	line-height: 0.95em;
	padding-right: 5px;
	padding-top: 1px;
	color:#000;
}

a.button {
	background-color:#F6F5EA;
	border:1px solid #BCB79C;
}
table.formula td{
	text-align:center;
	padding:5px;
}

table.formula td.numerator{
	border-bottom:1px solid #333;
}

table.datatable {
	border:1px solid #EEE;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

table.datatable tr th {
	padding:10px;
	background: #F9F9F9;
	border-bottom: 1px solid #ddd;
	font: normal normal normal 14px/21px Cambria, Georgia, 'Times New Roman', Times, serif;
	text-align: left;
}

table.datatable tr td {
	padding:10px 20px;
	text-align:center;
}