#leftpane{
    float:left;
    width:634px;
    margin-right:16px;
    padding:0;
}

#scrollable{
    display:block;
    border:5px solid #EEE;
    background:#EEE;
    margin-bottom:5px;
    height:400px;
    padding:0px;
    position:relative;
    z-index:30;
    overflow:hidden;
    width:624px;
    -moz-border-radius:5px;
   border-radius:5px;
   -webkit-border-radius:5px;
}

#slides{
    position:absolute;
    width:2000em;
    background:#FFF;
}

#slides section{
    display:block;
    float:left;
    width:624px;
    height:400px;
}

#rightpane{
    float:left;
    width:300px;
    padding:0;
    margin:0;
}
#rightpane blockquote{
   display:block;
   padding:10px;
   border:1px solid #ddd;
   background:#F3F6FA;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-border-radius:5px;
   margin:0;
   margin-bottom:20px;
   color:#000;
}

#rightpane blockquote p{
   font: normal normal normal 21px/30px Cambria, Georgia, 'Times New Roman', Times, serif;
   margin: 0px;
   text-align: center;
   color:#000;
}

#returns {
   color:#D13236;
   font-weight:bold;
}

section.bbinfo{
    display:block;
    border-left:1px solid #EEE;
    margin-bottom:20px;
    padding:10px;
}
section.bbfolio{
    display:block;
    margin-bottom:20px;
    padding:0px;
    position:relative;
}

ul.portfolio {
	margin-top:20px;
	float:left;
	padding-left:10px;
	position:relative;
}

ul.portfolio li.tab {
    float:left;
    margin-right:5px;
    border:1px solid #ddd;
    border-radius:5px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    -moz-border-radius:5px;
    -moz-border-radius-bottomright:0px;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-radius:5px;
    -webkit-border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    background:#F3F6FA;
    border-bottom:0;
    list-style:none;
    text-align:center;
    width:100px;
    display:inline-block;
    position:relative;
}

ul.portfolio li.active{
    background:#FFF;
}

ul.portfolio li.tab a{
    font: normal normal normal 16px/22px Cambria, Georgia, 'Times New Roman', Times, serif;
    color:#000;
    display:block;
    padding:5px;
}

ul.portfolio li.tab a:hover{
	border:0;
}

span.filler{
    display:block;
    margin:0;
    padding:0;
    border:0;
    background:#FFF;
    width:100%;
    font-size:2px;
    line-height:2px;
    left:0;
    position:absolute;
    z-index:35;
}

span.invisible{
   display:none;
}

#tradingcontent, #investcontent{
    background:#fff;
    border:1px solid #ddd;
    padding:5px 5px 0px;
    width:288px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#tradingcontent table, #investcontent table{
   dispaly:block;
   width:100%;
   background:#FFF;
}

#tradingcontent table tbody tr, #investcontent table tbody tr{
   border-bottom:1px solid #EEE;
}

#tradingcontent table td, #investcontent table td{
   padding: 8px;
   font-size: 14px;
   line-height: 24px;
}

#tradingcontent table tr.last, #investcontent table tr.last{
   border-bottom:0;
}

td.scripname{
   overflow:hidden;
   text-align:left;
   width:70%;
   height:20px;
}

td.scripreturn{
   font-weight:bold;
   text-align:right;
   color:#5aaa23;
}
td.red{
   color:#D13236;
}
#tradingcontent table td.loading, #investcontent table td.loading{
   background:url("../images/black_loader.gif") no-repeat center top;
   padding:12px;
   text-align:center;
}

section.bbinfo span.goto{
    text-align:right;
    letter-spacing:1px;
    font-size:14px;
    font-variant:small-caps;
    display:block;
}
#news{
    display:block;
    padding:0;
    margin:0;
    margin-top:10px;
}

section.bbnews{
    display:block;
    padding:0;
    margin:0 10px;
    float:left;
    width:307px;
}

section.bbnews h2, section.bbinfo h2, section.bbfolio h2{
    color: #D13236;
    font: normal normal normal 21px/24px Cambria, Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

#news1{
    clear:both;
    margin-left:0;
}

#news2{
    margin-right:0;
}

div.goto{
	clear: both;
	margin:0px auto;
	width:250px;
	text-align:center;
	border:1px solid #ddd;
	border-radius:5px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	-moz-border-radius:5px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-topleft:0px;
	-webkit-border-radius:5px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-top-left-radius:0px;
	padding:10px;
	background:#F9F9F9;
	color:#000;
	font-size:14px;
	border-top:0;
}

#indices{
	padding:10px;
   	border:1px solid #ddd;
   	background:#FFF;
   	-moz-border-radius:5px;
   	border-radius:5px;
   	-webkit-border-radius:5px;
   	margin:0;
   	margin-bottom:20px;
   	background:#FFF;
}

#indices table{
	width:100%;
	border:0;
}

#indices table td, #indices table th{
	font: normal normal normal 16px/24px "Segoe UI",Arial,Helvetica,sans-serif;
	width:50%;
}

#indices table th{
	padding:5px 10px;
	color:#4575B4;
}

#indices table td{
	padding:0px 10px;
}

.nifty{
	text-align:right;
}

.sensex{
	text-align:left;
	border-right:1px solid #ddd;
}

#indices table #nprice, #indices table #sprice{
	color:#000;
	font-weight:bold;
}

#indices table #nchange, #indices table #schange{
	font: normal normal normal 12px/18px "Segoe UI",Arial,Helvetica,sans-serif;
}

#flash{
    color: #D13236;
    font: normal normal normal 18px/26px Cambria, Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    margin-bottom:26px;
}