div#container {
color:#D5D5D5;
font-size:20px;
left:50%;
margin:-200px 0 0 -225px;
position:absolute;
text-shadow:1px 1px 2px #000000;
top:50%;
width:450px;
}

h1 {
color:#FFF;
font-size:34px;
font-weight:bold;
display:block;
margin:0.67em 0;
}

body {
background-color:#1C1C1C;
color:#444444;
font-family:Arial,Helvetica,sans-serif;
}

a {
color:#4575b4;
text-decoration:none;
}

a:hover {
color:#fe581a;
}

#goog-fixurl{
margin-top:10px;
padding-top:10px;
border-top:1px solid #666;
}

.other-things, .search-goog{
font-size:14px;
line-height:24px;
}
#goog-wm-qt{
border:1px solid #ddd;
margin-right:5px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding:4px;
}