/* =============================== Header CSS styles - Start ================= */
#siteheader {
        background: #000 url("http://images.blackbull.in/all_button_matrix.png") repeat-x 0px -148px;
	display:block;
	font-size:1em;
	padding:12px 24px;
}
#siteheader h1{
	margin:0;
	padding:0;
}
#logo{
	display:block;
	height:40px;
	border:0;
	float:left;
}

#logo img{
	border:0;
        margin-top:8px;
}

#light {
        display:block;
        height:1px;
        line-height:1px;
        font-size:1px;
        overflow:none;
        margin:0;
        padding:0;
        background: #000 url("http://images.blackbull.in/all_button_matrix.png") no-repeat center -330px;
}

#sitenavigation{
	display:block;
	padding:0px 24px;
	background-color:#242b3b;
	height:32px;
}
#mainnav {
        margin:0;
        padding:0;
        height:32px;
}
.menuitem{
        float:left;
        display:inline-block;
        margin:0;
        color:#fff;
        height:32px;
        line-height:32px;
        padding:0 18px;
        font-size:14px;
        cursor:pointer;
        width:80px;
        letter-spacing:1px;
        position:relative;
        z-index: 50;
}
.wall{
        background:url("http://images.blackbull.in/all_button_matrix.png") no-repeat -514px -106px;
}
.selected{
        background:#FFF;
        color:#000;
}

.liname {
        display:block;
        text-align:center;
}

.submenu {
        margin:0;
        list-style:none;
        border:1px solid #ddd;
        border-top:0;
        background:#FFF;
        position:absolute;
        padding:10px 4px 4px;
        width:250px;
        z-index:48;
        left:1px;
}

html>body .active {
        background:url("http://images.blackbull.in/all_button_matrix.png") no-repeat center -100px;    
}

html>body .arrow{
        position:absolute;
        z-index:5;
        display:block;
        top:32px;
        height:6px;
        width:100%;
        background:url("http://images.blackbull.in/all_button_matrix.png") no-repeat center -320px;
        margin-left:-18px;
}

html>body .hide{
	display:none;
}
.submenu li {
        margin:0;
        padding:4px 8px;
        border-top:1px solid #E3E3E3;
}

.sublihead {
        display:block;
        font-size:14px;
        line-height:16px;
        color:#4575B4;
        font-weight:normal;
        letter-spacing:1px;
        margin:0 0 2px 0;
}
.sublidesc {
        display:block;
        color:#666;
        font-style:italic;
        margin:0;
        margin-bottom:2px;
        font-size:12px;
        line-height:14px;
}
#bbsearch{
	float:right;
	margin:0;
	padding:0;
	margin-top:4px;
}
/* =============================== Header CSS styles - Stop ================== */

/* =============================== Footer CSS styles - Start ================= */
#sitefooter {
    display:block;
    float:left;
    clear:both;
    width:100%;
    padding:24px 0px;
    color:#666;
    height:16px;
    border-top:1px solid #aaa;
    background:url("http://images.blackbull.in/all_button_matrix.png") 0px -341px repeat-x;
    padding-bottom:64px;
}

#copy{
   padding:0 24px;
   display:block;
   text-align:center;
   letter-spacing:1px;
}
/* =============================== Footer CSS styles - Stop ================= */

/* =============================== Login CSS styles - Start ================= */
#opaque {
    background-color:black;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:190;
    opacity: .4;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
}

#header_login_nav {
    padding:0px;
    text-align:right;
    color:#eee;
    height:32px;
    width:300px;
    line-height:24px;
    font-weight:bold;
    position:absolute;
    z-index:200;
    top:12px;
    right:24px;
    margin:4px 0px;
}

#header_login_nav a {
        color:#FFFFFF;
}

#header_login_nav ul{
   padding:0;
   margin:0;
   list-style:none;
}

#header_login_nav .first{
  margin-right:2px;
}

#header_login_nav .limenu{
  margin-left:2px;
  cursor:pointer;
}

#header_login_nav .limenumain{
    position:relative;
    z-index:200;
    float:right;
    display:block;
    padding:4px 6px;
    text-decoration:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border-bottom:0;
}

#header_login_nav .hovered{
    background:#F9F9F9;
}

#header_login_nav .hovered a{
    color:#333;
}

#signin_menu, #settings_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    background-color:#F9F9F9;
    position:absolute;
    z-index:400;
    text-align:left;
    border:0;
    margin-top:0px;
    color:#333;
    font-size:11px;
    right:0;
    top:27px;
}

#signin_menu {
   width:210px;
   padding:12px;
}

#settings_menu{
   width:120px;
   padding:3px 10px;
}

#loadingdiv{
   color:#FFF;
   padding-right:24px;
   background:url("../images/loader.gif") no-repeat right center;
}

.hide, .invisible{
        display:none;
}

#forgot {
    color:#27B;
}
#signin_menu p {
    margin:0;
}
#signin_menu a {
    color:#6AC;
}
#signin_menu label {
    font-weight:normal;
}
#signin_menu p.remember {
    padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
    margin:5px 0;
}
#signin_submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#444;
    border:1px solid #444;
    color:#fff;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#signin_submit:hover, #signin_submit:focus {
    background:#111;
    border:1px solid #111;
    cursor:pointer;
}
input.txtbox {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #DEDEDE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}

#settings_menu ul{
    float:none;
}

#settings_menu ul li{
   float:none;
   text-align:right;
   padding:5px;
}
#settings_menu ul li a{
   color:#333;
}
#settings_menu ul li.bottomborder, #settings_menu ul li#lisave, #settings_menu ul li#lipreview {
   border-bottom:1px solid #ddd;
}
ul.invisible, #settings_menu ul li.invisible {
   display:none;
}
/* =============================== Login CSS styles - Stop ================= */

/* =============================== Common CSS styles - Start =============== */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}

body{
	margin:0;
	padding:0;
	font-family: "myriad-pro-1","myriad-pro-2","Segoe UI",Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:20px;
	color: #444;
        vertical-align: baseline;
        font-smooth:always;
        background:#f3f3f3;
}

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

a {
	color:#4575B4;
	text-decoration:none;
	border:0;
}

a:hover {
	/*border-bottom: 1px dotted #333;*/
	color: #FE581A;
}

a:active, a:focus{
	outline: 0;
	border:0;
}

ul{
	margin:0;
	padding:0;
}

img{
	border:0;
}

table{
	border-spacing:0;
	border-collapse: collapse;
}

#content{
	margin:0;
	padding:16px 0px 10px 24px;
	background:#FFF;
}
.spacer {
	clear:both;
	font-size:0em;
	line-height:0;
	padding:0;
	margin:0;
	border:0;
}
#content p{
	text-align:justify;
	color: #15100F;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
}
p.last:after{
	content: url("http://images.blackbull.in/stop.gif");
	margin-left:4px;
	width:10px;
	height:10px;
}

.ie7 img { -ms-interpolation-mode: bicubic; }

.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.exitpathad{float:right; margin:0px; width:336px;}
.noie6 {clear: both; 
        height: 59px; 
        padding:0 0 0 15px; 
        position: absolute; 
        top:10px; 
        right:160px;
        z-index:5000;
        display:none;
}
/* =============================== Common CSS styles - Stop =============== */