@charset "utf-8";

#portmain{
	margin:0;
	padding:20px 0 0 0;
	background:#fff;
	font-size:14px;
	line-height:22px;
	font-family: arial, serif;
}

#portholder{
	width:926px;
	margin:0;
	padding:0;
}

#toolbar{
	display:block;
	margin:0;
	padding:5px;
	height:30px;
	border-top:1px solid #576c93;
	background:#f3f6fa;
	margin-bottom:10px;
}

#holder{
	margin-left:20px;
	width:924px;	
}

#sidebar{
	float:right;
	margin-right:10px;
	width:290px;
	padding:0;
}

#portfolio{
	float:left;
	width:600px;
	min-height:800px;
	background:#fff;
	margin:0;
	padding:5px 0;
}

#portcontent{
	display:block;
	width:598px;
	padding-left:5px;
}

#portcontent th{
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	padding:8px 4px 10px 4px;
	vertical-align:bottom;
}

.portth{
	text-align:left;
}

.bigporttd{
	border-bottom:1px solid #eee;
	padding:4px;
	width:233px;
	color:#2A7090;
	/*font-weight:bold;*/
}

#portcontent .noright{
	border-right:0;
}

.porttd{
	border-bottom:1px solid #eee;
	padding:4px;
	width:80px;
	text-align:center;
}

.lasttd div{
	position:relative;
}

.activearrow{
	position:absolute;
	top:50%;
	margin-top:-11px;
	right:0;
	margin-right:-27px;
	height:22px;
	width:23px;
	font-size:22px;
	line-height:22px;
	padding:0;
	display:block;
	background:url("/images/trackr_active.png") no-repeat left center;
}
.sub{
	font-size:12px;
	color:#666;
	font-weight:normal;
	font-style:italic;
	display:block;
}

.selected{
	color:#fe581a;
}

.lastrow{
	border:0;
}

.scripname{
	font-weight:normal;
	font-size:20px;
	line-height:30px;
	text-align:center;
	color:#000;
}

ul{
	list-style:none;
}

#markets{
	height:80px;
}

#tip{
	position:absolute;
	left:-26px;
	top:150px;
	height:29px;
	width:29px;
	-moz-border-radius:5px;
   	border-radius:5px;
   	-webkit-border-radius:5px;
   	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	background:url("/images/slideout.png") right center no-repeat;
	display:none;
}

#transform {
	display:none;
}

h1{
	color:#2A7090;
	font:30px/54px Cambria,Georgia,'Times New Roman',Times,serif;
	margin:20px;
}