html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
a:link{outline:0 none;}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

/*a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; outline:0; border:0;}
a:hover { color: #036; }*/

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none;} 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

 /* Primary Styles
    Author: Rahul Devaskar
 */
#container {background: url("/tracker/images/trackerback.jpg") repeat-x scroll left 48px #F5F6F6;}
#waitscreen{text-align:center; color:#777; font-size:20px; line-height:20px; padding:0; margin:190px 0px;}
#waitscreen.red{color:#D13236;}
#main{width:990px; margin:40px auto 0px; padding:0px; border:1px solid #E3E7E7; background:#fff url("/tracker/images/genbg.png") repeat-x scroll left bottom;
      -moz-box-shadow: 0 2px 4px #ddd; -webkit-box-shadow: 0 2px 4px #ddd; box-shadow: 0 2px 4px #ddd;
      border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; position:relative;}
#trade_ltp{width:105px; height:105px; color:#090; text-align:center; padding:10px 20px; position:absolute;
           /*background: url("/tracker/images/ltpgreen.png") top right no-repeat;*/ border:0; top:0; right:0;
           border-top-right-radius:8px; -moz-border-radius-topright:8px; -webkit-border-top-right-radius:8px;}
.sectionvalue{font-size:18px; color:#000; line-height:32px; height:32px; font-weight:bold;}
#unr_ret_div, #r_ret_div{color:#090;}
#trade_ltp.down{/*background: url("/tracker/images/ltpred.png") top right no-repeat;*/}
#trade_ltp.down, #avg_price_div.down, #unr_ret_div.down, #r_ret_div.down{color:#D13236;}
#trade_ltp h5{ font-weight:normal; color:#222; font-size:18px; line-height:24px; margin-bottom:8px;}
#ltpprice{font-size:20px; line-height:24px; font-weight:bold; margin-top:10px;}
#ltpchg{font-size:14px; font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-family:"minion-pro-1","minion-pro-2",Cambria,Georgia,'Times New Roman',Times,serif; font-weight: 400;}
h1{color: #444444; font-size:24px; line-height:40px; margin: 0px; padding: 20px 20px 0px;}
h4{margin:0px; color:#444; font-size:20px; line-height:30px; padding:0px;}
h6{color:#999; padding:0 22px; font-size:12px; line-height:16px;}
#tradesummary{padding:0px 5px 4px; background:url("/tracker/images/headdivbg.png") repeat-x scroll left bottom; margin:30px 0px 5px;}
#summaryholder{width:916px; margin:0 auto;}
.summarysection{float:left; border-right:1px solid #dfdfdf; padding:10px 15px; width:100px; text-align:center;}
.summarysection h4{margin-bottom:10px; color:#666; font-size:16px; line-height:20px; font-weight:normal;}
.summarylast, .headlast{border:0;}
#chartholder{margin:10px 0px 10px 10px; height:400px;}
#transholder{background:url("/tracker/images/divtopbg.png") top left repeat-x; padding:30px 0px 20px;}
.empty{color:#999; text-align:center; font-size:14px; line-height:22px; padding:5px;}
#datatable{width:100%; padding:0; margin:0;}
#overviewmenu{background:url("/tracker/images/headdivbg.png") repeat-x scroll left bottom; padding:0px 10px 20px;}
.formsection{float:left; width:145px; padding: 0px 20px; border-right:1px solid #999; height:215px;}
.lastsection{border:0;}
label { width:140px; display:block; border:0; line-height:13px; margin:0; padding:4px 0px; font-size:13px; color:#666;}
input, textarea{width:130px; color:#555; background:#FFF; padding:5px; margin:2px 0px 12px; border:1px solid #A0A6B3; display:block;
             border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; line-height:16px;}
input:focus, textarea:focus{-moz-box-shadow: 0px 0px 8px rgba(7,95,178,0.75); -webkit-box-shadow: 0px 0px 8px rgba(7,95,178,0.75); box-shadow: 0px 0px 8px rgba(7,95,178,0.75); border:1px solid #075FB2; outline:0 none;}
textarea{font-size:12px; line-height:1.25em; height:51px;}
#cmpa{color:#0066CC; font-size:12px; font-weight:normal; text-decoration:none; margin:0; padding:0; line-height:12px;}
.dateinput{background:#fff url('/finance/images/calendar.png') 168px 5px no-repeat; cursor:pointer;}
.gettingprice{color:#666; font-size:10px; line-height:16px;height:16px;}
.rupee{background:#fff url(/finance/images/rupee.png) 5px center no-repeat; padding-left:15px; width:120px;}
select{width:140px; color:#555; background:#fff; padding:5px; margin:2px 0px 5px; border:1px solid #A0A6B3;
             border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#deductcash{margin:0px 0px 10px 2px;}
#includecash{float:left; width:auto;margin:5px 10px 0px 0px;}
#includetxt{float:left; display:block; font-size:12px; line-height:12px; color:#777; margin-top: 5px; width: 100px;}
#submitbtn, #cancelbtn{float:left; display:block; margin: 0px 5px 0px 0px; font-weight:bold; height:auto; color:#075FB2; text-align:center;}
#submitbtn {width:50px;}
#cancelbtn {width:50px;}
#submitbtn:hover, #cancelbtn:hover{background-color:#075FB2; color:#fff; text-shadow: #293E66 0px -1px 0px; border:1px solid #075FB2;}
#resulttxt{color: #444; font-size: 13px; line-height: 1.25em; padding: 20px 5px; text-align: center; font-weight:bold;}
#transdiv{width:560px; margin:10px 0px 0px 10px; float:left;}
.abtn{float:right; margin:0px; color:#075FB2; padding:0px; width:60px; text-decoration:none; font-weight:bold; margin:0px; position:relative;
      background:#FFF url("/tracker/images/button-large.png") bottom left repeat-x; font-size:14px; line-height:28px; display:inline-block;
      -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #999; text-align:center;}
.abtn:hover, .abtn:active, .abtn:visited{background:#FFF url("/tracker/images/button-largei.png") top left repeat-x; color:#075FB2;}
.abtn:active{border:1px solid #999;}
.activeabtn{-webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0px; 
            -moz-border-radius-bottomleft: 0px; -moz-border-radius-bottomright: 0px;
            border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; background:#F6F6F6;}
.activeabtn:hover{background:#F6F6F6;}
.filler{display:none; margin:0; padding:0; border:0; background:#F6F6F6; width:100%; font-size:4px; line-height:4px; left:-5px; position:absolute; z-index:35; bottom:-2px; width:65px;}
.roundc{-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom:1px solid #999; border-right:1px solid #999;position:absolute; display:none; z-index:45;
        bottom:-2px; left:-11px; height:10px; width:10px;}
span.visible{display:block;}
#formslide{padding:10px 0px; margin-bottom:5px; background:#f6f6f6; border:1px solid #999; display:none;
           border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
           -webkit-border-top-right-radius: 0px; -moz-border-radius-topright: 0px; border-top-right-radius: 0px;}
#subdiv{width:410px; margin:10px 0px 0px; float:left;}
#sidebar{margin:0px 5px; padding:0px; float:right;}
#adholder{width:160px; margin:0 auto;}
#transtbody, #sltbody, #targettbody{border:1px solid #DFDFDF; margin-top:5px; border-collapse: collapse;}
#transheaddiv, #transbodydiv{padding:0;}
#transheaddiv, #targetheaddiv, #slheaddiv{ background:#fff url("/tracker/images/headdivbg.png") repeat-x scroll left bottom; border-top:1px solid #DFDFDF;}
.headdiv {font-size:14px; border:0; color:#000; padding:0px; margin:0px; float:none;}
.headdiv th.trcontrol{border:0;}
.headdiv th{font-weight:bold; font-style:normal; border-right:1px solid #DFDFDF; font-size:0.95em; padding:10px 10px 15px; color:#000;}
.bodydiv, .bodydivlast {font-size:14px; border:0; background:#fff; border-bottom:1px solid #eee;
          padding:0px; margin:0; clear:both; float:none;}
.bodydivlast { border-bottom:1px solid #dfdfdf;}
.odd{background:#fcfcfc;}
.srno, .trcontrol, .ttype, .tdate, .tprice, .tqty, .slvalue, .trvalue, .notes{padding:10px; border-right:1px solid #eee; line-height:20px; vertical-align:middle;}
.srno, .trcontrol{width:20px; text-align:right;}
.trcontrol{border:0;}
.ttype{width:30px;text-align:center; color: #075FB2; font-weight: bold;}
.tdate {width:80px; text-align:left; font-style:italic; color: #666; font-size:12px;}
.tprice{width:70px; font-weight:bold; color:#111; text-align:right;}
.tqty{width:70px; text-align:right;}
.trvalue, .slvalue{width:90px; text-align:right; font-weight:bold; color:#999;}
.notes{width:120px; text-align:left; font-weight:normal; color:#666; font-size:11px; line-height:14px;}
.activevalue{color:#000;}
#subdivbody{width:443px; margin-top:10px;border-bottom:1px solid #DFDFDF;}
.keyname{background:#f9f9f9; border:1px solid #DFDFDF; padding:10px; border-right:0; border-bottom:0; float:left; 
         width:94px; color:#666; font-weight:bold; font-size:14px;}
.keyvalue{background:#fff; border:1px solid #DFDFDF; padding:10px; border-bottom:0; float:left; width:85px; color:#000;
          font-weight:bold; text-align:center; font-size:14px;}
#datev, #highv{border-right:0;}
#overviewad{margin:10px auto; padding:0; width:300px;}
#stoplossdiv, #targetsdiv{float:left; margin:0px 0px 0px 10px;}
.loadmsg{padding:10px; color:#999; text-align:center; font-weight:bold; line-height:20px; vertical-align:middle;}
/* footer styles */
#footercontent{width:980px; margin:50px auto 0; border-top:1px solid #ccc; padding:10px;}
.contactme{float:right; color:#999; line-height:12px; font-size:12px;}
.copy{color:#999; line-height:12px; font-size:12px; text-align:center;}
.copy a, .contactme a{color:#999; text-decoration:none;}
.copy a:hover, .contactme a:hover{text-decoration:underline;}
.addclass{background:#f9f9f9; border: 1px solid #DFDFDF; padding:0px 5px; font-weight:bold;}
/* date input styles */
#calroot {z-index:15000; margin-top:-10px; width:198px; padding:2px; background-color:#fff; font-size:11px;
	  border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow: 0 0 10px #666; -webkit-box-shadow: 0 0 10px #666;
	  -moz-box-shadow: 0px 0px 8px rgba(7,95,178,0.75); -webkit-box-shadow: 0px 0px 8px rgba(7,95,178,0.75); box-shadow: 0px 0px 8px rgba(7,95,178,0.75); border:1px solid #075FB2;}
#calhead {padding:2px 0; height:22px;} 
#caltitle {font-size:14px; color:#075FB2; float:left; text-align:center; width:155px; line-height:20px; font-weight:bold;}
#calnext, #calprev {display:block; width:20px; height:20px; background:transparent url('/tracker/images/prev.png') no-repeat scroll center center; float:left; cursor:pointer;}
#calnext {background-image:url('/tracker/images/next.png'); float:right;}
#calprev.caldisabled, #calnext.caldisabled {visibility:hidden;}
#caltitle select {font-size:10px;}
#caldays {height:14px;border-bottom:1px solid #A0A6B3; padding-bottom:4px;}
#caldays span {display:block; float:left; width:28px; text-align:center;}
#calweeks {background-color:#fff;margin-top:4px;}
.calweek {clear:left;height:22px;}
.calweek a {display:block; float:left; width:27px; height:20px; text-decoration:none;
	    font-size:11px; margin-left:1px; text-align:center; line-height:20px;
	    color:#444; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;} 
.calweek a:hover, .calfocus {background-color:#ddd;}
a.calsun {color:maroon;}
a.caloff {color:#ccc;}
a.caloff:hover {background-color:rgb(245, 245, 250);}
a.caldisabled {background-color:#efefef !important;color:#ccc	!important; cursor:default;}
#calcurrent {background-color:#075FB2; color:#fff; text-shadow: 0 -1px 0 #293E66;}
#caltoday {background-color:#fff; color:#075FB2; font-weight:bold;}
/* date input styles -end */

/* footer styles end */
 

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}