html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; outline:0; border:0;}
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none;} 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

 /* Primary Styles
    Author: Rahul Devaskar
 */
#container {background: url("/tracker/images/trackerback.jpg") repeat-x scroll left 48px #F5F6F6}
#waitscreen{text-align:center; color:#777; font-size:20px; line-height:20px; padding:0; margin:190px 0px;}
#waitscreen.red{color:#D13236;}
#main{width:990px; margin:40px auto 0px; padding:0px; border:1px solid #E3E7E7; background:#fff url("/tracker/images/genbg.png") repeat-x scroll left bottom;
      -moz-box-shadow: 0 2px 4px #ddd; -webkit-box-shadow: 0 2px 4px #ddd; box-shadow: 0 2px 4px #ddd;
      border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; position:relative;}
#trade_ltp{width:105px; height:105px; color:#090; text-align:center; padding:10px 20px; position:absolute;
           /*background: url("/tracker/images/ltpgreen.png") top right no-repeat;*/ border:0; top:0; right:0;
           border-top-right-radius:8px; -moz-border-radius-topright:8px; -webkit-border-top-right-radius:8px;}
.sectionvalue{font-size:18px; color:#000; line-height:32px; height:32px; font-weight:bold;}
#unr_ret_div, #r_ret_div{color:#090;}
#trade_ltp.down{/*background: url("/tracker/images/ltpred.png") top right no-repeat;*/}
#trade_ltp.down, #avg_price_div.down, #unr_ret_div.down, #r_ret_div.down{color:#D13236;}
#trade_ltp h5{ font-weight:normal; color:#222; font-size:18px; line-height:24px; margin-bottom:8px;}
#ltpprice{font-size:20px; line-height:24px; font-weight:bold; margin-top:10px;}
#ltpchg{font-size:14px; font-weight:normal;}
h1{color: #444444; font-family:Cambria,Georgia,'Times New Roman',Times,serif; font-size:24px; line-height:40px; font-weight: normal; margin: 0px; padding: 20px 20px 0px;}
h4{margin:10px; color:#444; font-size:20px; line-height:30px; font-weight:normal;
                   font-family:Cambria,Georgia,'Times New Roman',Times,serif;}
h6{color:#999; font-weight:normal; padding:0 22px; font-size:12px; line-height:16px;}
#tradesummary{padding:0px 5px 4px; background:url("/tracker/images/headdivbg.png") repeat-x scroll left bottom; margin:30px 0px 10px;}
#summaryholder{width:916px; margin:0 auto;}
.summarysection{float:left; border-right:1px solid #dfdfdf; padding:10px 15px; width:100px; text-align:center;}
.summarysection h4{margin-bottom:10px; color:#666; font-size:16px; line-height:20px; font-weight:normal;
                   font-family:Cambria,Georgia,'Times New Roman',Times,serif;}
.summarylast, .headlast{border:0;}
#chartholder{width:800px; margin:10px 0px 10px 10px; height:400px;}
#transholder{width:800px; background:url("/tracker/images/divtopbg.png") top left repeat-x; padding:10px 10px 20px;}
.empty{color:#999; text-align:center; font-size:14px; line-height:22px; padding:5px;}
#datatable{width:100%; padding:0; margin:0;}
#newtransdiv{background:#F9F9F9; padding:10px; border:1px solid #DFDFDF;}
#transdiv{width:427px; margin:0px; float:left;}
#subdiv{width:348px; margin:0px; float:left;}
#sidebar{margin:0px 5px; padding:0px; float:right;}
#adholder{width:160px; margin:0 auto;}
#transtbody, #sltbody, #targettbody{border-right:1px solid #DFDFDF; border-left:1px solid #DFDFDF;}
#transmenu, #submenu{padding:10px 0px 0px 10px;}
#transmenu h4{float:left; margin:0px 10px 0px 0px;}
#subdiv h4{margin:0px 10px 0px 0px;}
#addtransmenu{float:right; display:block; text-decoration:none; color:#000; line-height:30px;}
#transheaddiv, #transbodydiv{padding:0;}
#transheaddiv, #targetheaddiv, #slheaddiv{ background:#fff url("/tracker/images/headdivbg.png") repeat-x scroll left bottom; border-top:1px solid #DFDFDF;
                                           margin-top:10px;}
.headdiv {font-size:14px; border:0; color:#000; padding:0px; margin:0px; float:none;}
.headdiv div{font-weight:bold; font-style:normal; border-right:1px solid #DFDFDF; font-size:0.95em; padding:10px 10px 15px; color:#000;}
.headdiv div.lastcell, .bodydiv div.lastcell, .bodydivlast div.lastcell{border:0;}
.bodydiv, .bodydivlast {font-size:14px; border:0; background:#fff; border-bottom:1px solid #eee;
          padding:0px; margin:0; clear:both; float:none;}
.bodydivlast { border-bottom:1px solid #dfdfdf;}
.odd{background:#fcfcfc;}
.srno, .trcontrol, .ttype, .tdate, .tprice, .tqty, .slvalue, .trvalue{float:left; padding:10px; border-right:1px solid #eee; line-height:20px; height:20px;}
.srno, .trcontrol{width:20px; text-align:right;}
.ttype{width:50px;text-align:left; }
.ttype a{color:#075FB2; text-decoration:none; font-weight:bold;}
.ttype a:hover{text-decoration:underline;}
.tdate {width:80px; text-align:left; font-style:italic; color: #666; font-size:12px;}
.tprice{width:70px; font-weight:bold; color:#111; text-align:right;}
.tqty{width:60px; text-align:right;}
.trvalue, .slvalue{width:60px; text-align:right; font-weight:bold; color:#999;}
.activevalue{color:#000;}
#subdivbody{width:443px; margin-top:10px;border-bottom:1px solid #DFDFDF;}
.keyname{background:#f9f9f9; border:1px solid #DFDFDF; padding:10px; border-right:0; border-bottom:0; float:left; 
         width:94px; color:#666; font-weight:bold; font-size:14px;}
.keyvalue{background:#fff; border:1px solid #DFDFDF; padding:10px; border-bottom:0; float:left; width:85px; color:#000;
          font-weight:bold; text-align:center; font-size:14px;}
#datev, #highv{border-right:0;}
#overviewads{margin:15px auto; padding:0; width:336px;}
#sltarget{margin:10px auto 0px;}
#stoplossdiv, #targetsdiv{float:left; margin:0px 0px 30px 10px;}
.loadmsg{padding:10px; color:#999; text-align:center; font-weight:bold;}
/* footer styles */
#footercontent{width:980px; margin:50px auto 0; border-top:1px solid #ccc; padding:10px;}
.contactme{float:right; color:#999; line-height:12px; font-size:12px;}
.copy{color:#999; line-height:12px; font-size:12px; text-align:center;}
.copy a, .contactme a{color:#999; text-decoration:none;}
.copy a:hover, .contactme a:hover{text-decoration:underline;}
.addclass{background:#f9f9f9; border: 1px solid #DFDFDF; padding:0px 5px; font-weight:bold;}
/* footer styles end */
 

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}