#resetpassword{
	width:900px;
}

#resetpassword h1 {
	color: #D13236;
	font: normal normal normal 30px/54px Cambria, Georgia, 'Times New Roman', Times, serif;
	margin: 36px 0px 18px;
}

#resetpassword p {
	color: #333;
	font: normal normal normal 18px/26px Cambria, Georgia, 'Times New Roman', Times, serif;
}

#changepassform {
	padding:20px;
	margin-bottom:50px;
	background:#fafafa;
	border:1px solid #eee;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#changepassform span {
	color:#666;
	text-shadow:#FFF 1px 1px 0px;
	font-size:12px;
	line-height:14px;
	display:inline-block;
	margin-bottom:20px;
	text-align:left;
}

#changepassform p {
	font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-align:right;
}
#changepassform label, #changepassform input{
	color: #333;
	font: normal normal normal 18px/26px Cambria, Georgia, 'Times New Roman', Times, serif;

}

#changepassform label {
	text-align:right;
	width:200px;
	display:inline-block;
	text-shadow:#fff 1px 1px 0px;
}

#changepassform input {
	background:#FFF;
	border:1px solid #ababab;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:5px;
}

#changepassform input.long {
	width:250px;
	margin:0px 0px 20px 4px;
}

#changepassform input.longlegend {
	width:250px;
	margin:0px 0px 0px 4px;
}

#changepassform input.submitbutton {
	margin-left:207px;
	margin-right:10px;
	width:150px;
	height:31px;
	border:0;
	background:url("http://images.blackbull.in/all_button_matrix.png") no-repeat top left;
	background-position:-354px 0px;
	text-shadow: #FFF 1px 1px 0px;
	padding:0;
	line-height:30px;
	text-align:center;
	vertical-align:middle;
}

#changepassform input.hovered{
	background-position:-354px -31px;
	text-shadow: #333 1px 1px 0px;
	color:#fff;
}

#changepassform input#resetform {
	margin-left:0;
}

#emailresult{
	margin-left:207px;
}

#passresult{
	margin:4px 0px 4px 207px;
	width:250px;
	color:#D13236;
}

#changepassform span.error {
	color:#D13236;
}

div.tooltip {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-size:14px;
	line-height:14px;
	font-family: Cambria, Georgia, 'Times New Roman', Times, serif;
	border:1px solid #eee27a;
	padding:11px;
	background:#fff8c1 url("http://images.blackbull.in/tooltip_bg.png") repeat-x bottom left;
	display:inline-block;
	margin:0;
}