div#resetpassword{
	width:900px;
}

div#resetpassword h1 {
	color: #D13236;
	font: normal normal normal 30px/54px Cambria, Georgia, 'Times New Roman', Times, serif;
	margin: 36px 0px 18px;
}

div#resetpassword p {
	color: #333;
	font: normal normal normal 18px/26px Cambria, Georgia, 'Times New Roman', Times, serif;
}

#setnewpassform {
	padding:20px;
	margin-bottom:50px;
	background:#fafafa;
	border:1px solid #eee;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#setnewpassform span {
	color:#666;
	text-shadow:#FFF 1px 1px 0px;
	font-size:12px;
	line-height:14px;
	display:inline-block;
	margin-bottom:20px;
	text-align:left;
}

div#resetpassword #setnewpassform p {
	font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-align:right;
}
#setnewpassform label, #setnewpassform input, #setnewpassform button{
	color: #333;
	font: normal normal normal 18px/26px Cambria, Georgia, 'Times New Roman', Times, serif;

}

#setnewpassform label {
	text-align:right;
	width:200px;
	display:inline-block;
	text-shadow:#fff 1px 1px 0px;
}

#setnewpassform input {
	background:#FFF;
	border:1px solid #ababab;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:5px;
}

#setnewpassform input.short {
	width:200px;
	margin:0px 0px 0px 4px;
}

#setnewpassform input.long {
	width:250px;
	margin:0px 0px 20px 4px;
}

#setnewpassform input.longlegend {
	width:250px;
	margin:0px 0px 0px 4px;
}

div#registration #setnewpassform p#terms {
	text-align:left;
	margin:0;
	margin-left:207px;
	color: #333;
	font: normal normal normal 18px/26px Cambria, Georgia, 'Times New Roman', Times, serif;
}

#setnewpassform input.submitbutton {
	margin-left:207px;
	margin-right:10px;
	width:150px;
	height:31px;
	border:0;
	background:url("../../images/longbutton.png") no-repeat top left;
	text-shadow: #FFF 1px 1px 0px;
	padding:0;
	line-height:30px;
	text-align:center;
	vertical-align:middle;
}

#setnewpassform input.hovered{
	background-position:0px -31px;
	text-shadow: #333 1px 1px 0px;
	color:#fff;
}

#setnewpassform input#resetform {
	margin-left:0;
}

span#emailresult{
	margin-left:207px;
}

span#passresult{
	margin:4px 0px 4px 207px;
	width:250px;
	color:#D13236;
}

#setnewpassform span.error {
	color:#D13236;
}

#setnewpassform span.success {
	color:#5AAA23;
}